<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Inicio</a>
      <a mat-list-item href="#">Buscar</a>
      <a mat-list-item href="#">Registrar</a>
      <a mat-list-item href="#">Registrar E.</a>
      <a mat-list-item href="#">Registrar W.</a>
      <a mat-list-item href="#">Especialidades</a>
      <a mat-list-item href="#">Médicos</a>
      <a mat-list-item href="#">Exámenes</a>
      <a mat-list-item href="#">Pacientes</a>
      <a mat-list-item href="#">Reportes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-material-tests</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
