<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar>Menu </mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let r of routes" mat-list-item [href]="r.route">
        <mat-icon *ngIf="r.icon" aria-hidden="false" [fontSet]="r.iconFontSet" style="vertical-align: text-bottom;">{{r.icon}}</mat-icon>
        {{r.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-material-tests</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
